# Core Framework
Django==5.2.4
python-decouple==3.8
python-dotenv==1.1.0

# REST Framework & API
djangorestframework==3.16.0
drf-spectacular==0.28.0

# Auth
djangorestframework-simplejwt==5.5.0

# Database
psycopg2-binary==2.9.11
dj-database-url==2.1.0

# WebSockets
channels==4.2.2
daphne==4.2.1

# HTTP & Networking
django-cors-headers==4.7.0

# Media & Files
pillow==12.1.0

# Server & Deployment
gunicorn==20.1.0
whitenoise==6.6.0