.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: var(--bg-content-color);
  overflow: hidden;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  box-shadow: var(--box-shadow, 0 2px 8px rgba(0, 0, 0, 0.1));
  width: 200px;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.icon {
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.filename {
  font-weight: bold;
}

.meta {
  color: var(--table-color);
  font-size: 0.875rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: var(--overlay-dark-bg, rgba(13, 13, 13, 0.1));
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  z-index: 1001;
  width: 100%;
  max-width: 50%;
  /* overflow: hidden; */
  overflow-y: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow, 0 0 20px rgba(0, 0, 0, 0.3));
  animation: fadeInScale 0.3s ease-out;
}

.viewerHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.backBtn,
.downloadBtn {
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--bg1-color);
  cursor: pointer;
  text-decoration: none;
}

.pdfViewer {
  height: 80vh;
}

.docxContent {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--heading-color);
}
