# Ignore Python virtual environments and env files
venv/
env/
.env

# Ignore test directory
test/

# Ignore all db.sqlite3 files anywhere
**/db.sqlite3

# Ignore all __pycache__ directories anywhere
__pycache__/