.aaOverlayWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(13, 13, 13, 0.1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addAgentModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  z-index: 1001;
  width: 100%;
  max-width: 70%;
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeInScale 0.3s ease-out;
}

.aaExit {
  display: flex;
  justify-content: flex-end;
}

.aaExit i {
  background-color: var(--red-color);
  color: var(--bg-color);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

/* aaBody */
.aaHeader {
  text-align: start;
  margin-bottom: 20px;
}

.aaHeader h2 {
  font-size: 20px;
  color: var(--heading-color);
}

.aaBody {
}

.aaWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 14px;
  color: var(--table-color);
  margin-bottom: 5px;
}

.inputGroup input {
  padding: 10px;
  font-size: 14px;
  border: var(--border-very-light-gray);
  border-radius: 5px;
  width: 100%;
}

.inputGroup input:focus {
  border-color: #007bff;
  outline: none;
}

.roleDropdown {
  border: none;
  padding: 10px 10px;
  border: var(--border-very-light-gray);
  border-radius: 4px;
  color: var(--table-color);
}

.submitBtn {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 10px;
  font-size: var(--default-font-size);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitBtn:hover {
  background-color: var(--primary-color-hover);
}

/* animation */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
