.pendingTask {
  width: 100%;
  background-color: var(--bg1-color);
  border-radius: 8px;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border: 1px solid #e8e8e8;
  border-left: 4px solid var(--primary-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);

  margin-bottom: 10px;
}

.ptWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ptWrapper p {
  color: var(--heading-color);
  font-size: var(--table-font-size);
}

.ptIcon {
  color: var(--primary-color);
  font-size: var(--table-head-size);
}

.ptDetails h5 {
  color: var(--text-color);
  font-size: var(--table-head-size);
  margin-bottom: 5px;
}

.ptDetails p {
  color: var(--heading-color);
  font-size: var(--table-font-size);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  /* margin-bottom: 5px; */
}

.viewAllContainer {
  text-align: center;
  margin-top: 10px;
}

.viewAllBtn {
  background-color: transparent;
  border: none;
  color: #124559;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.viewAllBtn:hover {
  color: #598392;
}