.reportPage {
  margin: var(--margin-size-min);
}

.rpHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rpHeader h1 {
  color: var(--heading-color);
  font-size: 32px;
  /* for heading */
}

.rpHeader p {
  color: var(--secondary-color);
  font-size: 16px;
  margin-top: 8px;
}

/* rpBody */
.rpBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* rpTabs */
.rpTabs {
  display: flex;
  gap: 32px;
  /* margin-bottom: 32px;  */
  border-bottom: 1px solid #e5e7eb;
}

.rpTabLink {
  padding: 12px 10px;
  color: var(--muted-text-color);
  text-decoration: none;
  font-size: var(--base-font-size);
  position: relative;
  cursor: pointer;
}

.rpTabLink.active {
  color: #0d6efd;
  font-weight: 500;
  border-bottom: 3px solid #0d6efd;
}

.rpTicketTabSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* KPI Cards */
.kpiGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.kpiCard {
  width: 100%;
  background-color: var(--bg1-color);
  border-radius: 20px;
  padding: 28px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
  animation: fadeInUp 0.6s ease both;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kpiCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.kpiIcon {
  margin-bottom: 0.5rem;
}

.kpiCard h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--heading-color);
}

.kpiCard p {
  font-size: 16px;
  color: var(--secondary-color);
}

/* Charts Grid */
.chartsGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chartSection {
  width: 100%;
  background-color: var(--bg1-color);
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s ease;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

.chartSection h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 24px;
  font-weight: 700;
  color: var(--heading-color);
  margin-bottom: 15px;
}

.chartRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.chartContainer {
  background-color: var(--bg-content-color);
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.chartContainer h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #374151;
  margin: 0 0 1rem 0;
}

.chartPlaceholder {
  overflow: hidden;
}

.pieChart,
.barChart,
.lineChart,
.heatmap {
  /* height: 220px; */
  width: 100%;
}