.archivePage {
  margin: var(--margin-size-others);
}

.appHeader {
  margin-top: 40px;
  margin-bottom: 20px;
}

.appHeader h1 {
  color: var(--heading-color);
  font-size: var(--h1-font-size);
}

/* apBody */
