.passwordResetPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

/* Left and Right Panel Layout */
.leftPanel,
.rightPanel {
  flex: 1;
  display: flex;
  height: 100vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

/* Left Panel Image */
.leftImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Right Panel Layout */
.rightPanel {
  flex-direction: column;
  gap: 20px;
  /* padding: 0 40px; */
}

/* Header */
.formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.formHeader h1 {
  font-size: 1.8rem;
  margin: 0;
}

.formHeader p {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
}

/* Form */
.lpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: none;
  gap: 8px;
}

.input {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  border-radius: 40px;
  border: 1px solid #d3d3d3;
  background-color: var(--bg-color);
  font-size: 1rem;
}

.input:focus {
  outline: 2px solid var(--primary-color);
}

/* Submit Button */
.logInButton {
  width: 100%;
  padding: 12px 32px;
  border: none;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logInButton:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

/* Link */
.forgotPassword {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 0.95rem;
  text-align: center;
}

.forgotPassword:hover {
  color: rgba(0, 123, 255, 0.8);
}
