.ticketPage {
  margin: var(--margin-size-others);
}

.tpHeader {
  margin-top: 40px;
  /* margin-bottom: 5px; */
}

.tpHeader h1 {
  color: var(--heading-color);
  font-size: var(--h1-font-size);
}

/* tpBody */

/* tpTabs */
.tpTabs {
  display: flex;
  gap: 32px; 
  margin-bottom: 32px; 
  border-bottom: 1px solid #e5e7eb;
}

.tpTabLink {
  padding: 12px 10px; 
  color: var(--muted-text-color);
  text-decoration: none;
  font-size: var(--base-font-size); 
  position: relative;
  cursor: pointer;
}

.tpTabLink.active {
  color: #0d6efd;
  font-weight: 500;
}

.tpTabLink.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #0d6efd;
}

.tpFilterSection {
  margin-bottom: 20px;
}
