.archivePage {
  margin: var(--margin-size-others);
}

/* .apHeader {
  margin-top: 40px;
}

.apHeader h1 {
  color: var(--heading-color);
  font-size: var(--h1-font-size);
} */

/* apBody */
.apBody {
  margin-top: 40px;
}