.adminDashboardPage {
  margin: var(--margin-size-min);
}

.adpHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.adpHeader h1 {
  color: var(--heading-color);
  font-size: 32px; /* for heading */
}

/* dpBody */

/* adpCardSection */
.adpCardSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adpWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.adpLeftRight {
  display: flex;
  gap: 20px;
  flex: 2;
}

.adpLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.adpRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.adpMid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.adpSide {
  flex: 1;
  display: flex;
}
