.fpShowFilter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.fpShowFilter span{
  color: var(--primary-color);
  font-size: var(--table-head-size);
  cursor: pointer;
}

.filterPanelCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: var(--box-shadow-as);
  border: var(--border-bottom);
  background-color: var(--bg1-color);
  padding: 20px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.filterGroup label {
  font-size: var(--default-font-size);
  color: var(--heading-color);
  margin-bottom: 0.25rem;
}

.resetButton {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--bg-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.resetButton:hover {
  background-color: var(--primary-color-hover);
}
