/* Toast container */
.toast {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  width: 35vw;
  padding: 12px 18px;
  border-radius: 10px;
  margin-bottom: 10px;

  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  font-size: 1rem;
  font-weight: 500;
  color: #FCFCFC;

  animation: fadeSlide 5s ease-in-out forwards;
}

/* Toast type styles */
.success { background-color: #039855; }
.error   { background-color: #D92D20; }
.info    { background-color: #175CD3; }
.warning { background-color: #FDB022; }

/* Close Button */

/* Toast icon */
.toastIcon {
  font-size: 1.3rem;
  margin-right: 8px;
}

/* Toast message */
.toastMessage {
  flex: 1;
}

/* Close Button */
.toastClose {
  background: transparent;
  border: none;
  color: #FCFCFC;
  font-size: 1.2rem;
  margin-left: auto;
  cursor: pointer;
}

/* Animation */
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translate(-50%, -70%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
}
