.workflowPage {
  margin: var(--margin-size-others);
}

.wpHeader {
  margin-top: 40px;
  /* margin-bottom: 5px; */
}

.wpHeader h1 {
  color: var(--heading-color);
  font-size: var(--h1-font-size);
  margin: 0;
}

/* tpBody */