.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.pageSizeSelector {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pageSizeSelector label,
.pageSizeSelector span {
  color: var(--secondary-color);
  /* font-size: var(--table-head-size); */
  font-size: var(--default-font-size);
}

.pageSizeSelector select {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pageNavigation {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pageNavigation button {
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--bg1-color);
  color: var(--secondary-color);
}

.pageButton {
  padding: 5px 10px;
  width: 30px;
  height: 30px;
  background-color: var(--bg1-color);
  border: none;
  cursor: pointer;
}

.pageButton:hover {
  background-color: var(--border-color);
}

.pageButton.active {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--bg1-color);
  border-color: var(--primary-color);
}

.ellipsis {
  padding: 0 8px;
  font-weight: bold;
}

