.fpShowFilter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;  
}

/* not active */
.fpShowFilter span {
  color: var(--primary-color);
  font-size: var(--table-head-size);
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 5px;
  background-color: white;
  transition: all 0.3s ease;
}

.fpShowFilter span:hover {
  border-color: var(--primary-color);
}

/* active */
.fpShowFilter.active span {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

.tfContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--bg1-color);
  /* box-shadow: var(--box-shadow, 0 2px 8px rgba(0, 0, 0, 0.08)); */
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 20px;
  justify-content: space-between;
}

.tfSelectGroup,
.tfDateGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  min-width: 250px;
  /* Set minimum width */
  max-width: 300px;
  /* Optional: limit the max width */
}

.tfLabel {
  font-weight: bold;
  color: var(--heading-color);
  font-size: 14px;
}

.tfSelect {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-size: 14px;
}

.tfButtonGroup {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  align-self: flex-end;
}

.tfButtonApply {
  background-color: var(--primary-color);
  color: var(--bg1-color);
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tfButton {
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 12px;
  border-radius: 6px;
  border: 2px solid var(--primary-color);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tfButtonApply:hover {
  background-color: var(--primary-color-hover);
}

.tfButton:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.tfSelect,
.tfButton,
.tfButtonApply {
  width: 100%;
  /* Make select inputs and buttons full width within their container */
}

@media (max-width: 768px) {
  .tfContainer {
    flex-direction: column;
    /* Stack elements vertically on smaller screens */
  }

  .tfButtonGroup {
    justify-content: center;
    /* Center buttons on smaller screens */
  }
}