.trackPage {
  margin: var(--margin-size-others);
}

.trpHeader {
  margin-top: 40px;
  margin-bottom: 20px;
}

.trpHeader h1 {
  color: var(--heading-color);
  font-size: var(--h1-font-size);
}

/* trpBody */
.searchContainer {
  padding: 32px;
  margin-bottom: 32px;

  background: var(--bg1-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  border: var(--border-very-light-gray);
  animation: fadeInUp 0.6s ease both;
}

.searchForm {
  display: flex;
  gap: 15px;
}

.searchForm input {
  flex: 1;
  padding: 12px 16px;
  border: var(--border-very-light-gray);
  border-radius: 6px;
  font-size: 16px;
}

.searchForm button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchForm button:hover {
  background-color: var(--primary-color-hover);
}


/* MEDIA QUERY */

/* ANIMATION */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
