.tab-nav {
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}

.tab-nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

.tab-nav li {
  padding: 13px 16px;
  transition: 0.5s ease;
}

.tab-nav li.active {
  border-bottom: 3px solid var(--primary-color);
}

.tab-nav ul a {
  color: var(--secondary-text-color);
}

.tab-nav ul a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.tab-nav li a.active {
  color: var(--primary-color);
}
