.fpShowFilter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.fpShowFilter span {
  color: var(--primary-color);
  font-size: var(--table-head-size);
  cursor: pointer;
}

.filterPanelCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: var(--box-shadow-as);
  border: var(--border-bottom);
  background-color: var(--bg1-color);
  padding: 20px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.filterGroup label {
  font-size: var(--default-font-size);
  color: var(--heading-color);
  margin-bottom: 0.25rem;
}

/* .resetButton {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--bg-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.resetButton:hover {
  background-color: var(--primary-color-hover);
} */

/* REVISED BUTTON STYLES */
.resetButton {
  background-color: #007BFF; 
  color: white;            
  padding: 12px;            
  border-radius: 6px;       
  border: none;           
  font-size: 14px;           
  cursor: pointer;          
  transition: background-color 0.3s ease; 
}

.resetButton:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}