.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: var(--bg1-color);
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  box-shadow: var(--box-shadow, 0 0 20px rgba(0, 0, 0, 0.3));
}

.title {
  margin: 0 0 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.message {
  margin: 0 0 20px;
  font-size: 1rem;
  color: var(--heading-color);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelBtn {
  background: var(--muted-text-color);
  color: var(--bg1-color);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.confirmBtn {
  background: var(--error-color);
  color: var(--bg1-color);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}