/* image container */
.SearchImageContainer {
  text-align: center;
  margin-top: 10px;
  opacity: 0.6;
}

.SearchImage {
  width: 250px;
  max-width: 80%;
  margin-bottom: 1rem;
}

/* main page */
.resultsContainer {
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.ticketHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: var(--border-bottom);
}

.ticketTitle h2 {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
}

.ticketTitle .ticketID {
  color: var(--secondary-color);
  font-size: var(--base-font-size);
}

/* STATUS */
/* PRIORITY */

/* ticket progress */
.ticketProgress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.ticketProgress h3 {
  color: var(--heading-color);
  font-size: var(--h2-font-size);
}

/* ticket details */
.ticketDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}

.detailCard {
  background-color: var(--bg-content-color);
  border: var(--border-bottom);
  border-radius: 8px;
  padding: 20px;
}

.detailCard h3 {
  font-size: var(--base-font-size);
  color: var(--heading-color);
}

.detailCard p {
  font-size: var(--default-font-size);
  color: var(--secondary-color);
}

.ticketDescription {
  margin-bottom: 30px;
}

.ticketDescription h3 {
  font-size: var(--base-font-size);
  color: var(--heading-color);
}

.ticketDescription p {
  font-size: var(--default-font-size);
  color: var(--secondary-color);
  line-height: 1.6;
}
