/* MAIN CSS FOR EACH COMPONENTS */

/* === BUTTON STYLES === */

/* === TEXT INPUT STYLES === */
/* SEARCH BAR */
.searchBar {
  font-size: var(--default-font-size);
  border-radius: 5px;
  width: 100%;
  padding: 10px 16px;
  border: none;
  border: var(--border-very-light-gray);
  border-radius: 20px;
}

.searchBar:hover {
  border: 1px solid var(--primary-color);
}

.searchBar:focus {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2),
    0 6px 16px rgba(0, 123, 255, 0.1);
}

/* === PASSWORD INPUT STYLES === */

/* === DATE INPUT STYLES === */
/* DATETIME */
.dateTime {
  font-size: var(--table-font-size);
  border-radius: 4px;
  border: 1px solid #ccc;
  font-variant: var(--border-very-light-gray);
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  color: var(--text-color);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--bg1-color);
}

.dateTime:hover,
.dateTime:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* === DROPDOWN INPUT STYLES === */
/* DROPDOWN STYLE */
.dropdown {
  font-size: var(--table-font-size);
  border-radius: 4px;
  border: 1px solid #ccc;
  font-variant: var(--border-very-light-gray);
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  color: var(--text-color);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: var(--bg1-color);
}

.dropdown:hover,
.dropdown:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* === TABLE STYLES === */
.ticketTableSection {
  background: var(--bg1-color);
  border-radius: 20px;
  /* border-radius: 20px; */
  box-shadow: var(--box-shadow);
  border: var(--border-very-light-gray);
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 24px; */
  /* padding: 24px 24px 0px 24px; */

  padding: 15px 30px;
}

.tableHeader h2 {
  /* flex: 2; */
  font-size: var(--h2-font-size);
  color: var(--table-color);
}

.tableActions {
  /* flex: 1; */
  display: flex;
  gap: 16px;
  align-items: center;
}

/* if export */
.exportButton {
  padding: 8px;
  background: white;
  border: var(--border-very-light-gray);
  border-radius: 20px;
  color: #374151;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

/* if add */
.addButton {
  padding: 8px;
  background: var(--primary-color);
  border: var(--border-very-light-gray);
  border-radius: 20px;
  color: var(--bg-color);
  font-size: 14px;
  cursor: pointer;
  max-width: 150px;
  width: 100%;
}

.ticketTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.ticketTable th {
  padding: 15px;
  text-align: left;
  font-size: var(--table-font-size);
  font-weight: 600;
  color: var(--table-color);
  border-top: var(--border-very-light-gray);
  border-bottom: var(--border-very-light-gray);
  background-color: #f0f1f2;
}

.ticketTable td {
  padding: 18px;
  font-size: var(--default-font-size);
  color: var(--table-color);
  border-bottom: var(--border-very-light-gray);
}

.ticketTable:hover {
  /* background-color: #f0f1f2; */
}

.btn {
  border: none;
  border: var(--border-very-light-gray);
  padding: 5px 10px;
  border-radius: 4px;
  color: var(--table-color);
  font-size: var(--base-font-size);
  cursor: pointer;
}

.img {
  width: 40px;
  height: 40px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}

/* PAGINATION - TABLE */
.ttPagination {
  padding: 0 20px;
}

.btn:hover {
  color: #111827;
}

/* ==== STATUS & PRIO COLOR ===== */
/* PRIORITY STYLE */
.priority-critical {
  display: inline-block;
  color: var(--critical-color);
  background-color: var(--critical-bg-color);
  padding: 2px 10px;
  border-radius: 12px;
  font-size: var(--table-font-size);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.priority-high {
  display: inline-block;
  color: var(--high-color);
  background-color: var(--high-bg-color);
  padding: 2px 10px;
  border-radius: 12px;
  font-size: var(--table-font-size);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.priority-medium {
  display: inline-block;
  color: var(--medium-color);
  background-color: var(--medium-bg-color);
  padding: 2px 10px;
  border-radius: 12px;
  font-size: var(--table-font-size);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.priority-low {
  display: inline-block;
  color: var(--low-color);
  background-color: var(--low-bg-color);
  padding: 2px 10px;
  border-radius: 12px;
  font-size: var(--table-font-size);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.priority-critical::before,
.priority-high::before,
.priority-medium::before,
.priority-low::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 8px;
  vertical-align: middle;
  animation: pulseCircle 1.5s infinite;
}

/* === ANIMATION === */
/* LOADING ANIMATION */
.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PULSING ANIMATION */
@keyframes pulseCircle {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
