.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px #d3d3d3;
  /* position: fixed; */
  z-index: 100;
  padding: 0px 38px;

  position: sticky;
  top: 0;
}

.logoSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logoSection p {
  font-size: var(--h2-font-size);
  font-weight: bold;
  color: var(--text-color);
}

.logoSection p span {
  color: var(--primary-color);
}

.logoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logoImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.navLinks {
  display: flex;
  gap: 15px;
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--default-font-size);
  transition: color 0.2s ease, border-bottom 0.3s ease;
  padding: 5px 20px;
}

.navLink:hover {
  color: var(--primary-color);
}

.navLink.active {
  color: var(--primary-color);
}

.userSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notifBell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 35px;
  height: 35px;
}

.notifBell i {
  color: var(--text-color);
}

.userAvatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
}
