.profilePage {
  margin: var(--margin-size-min);
}

.ppHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.ppHeader h1 {
  color: var(--heading-color);
  font-size: var(--h1-font-size);
}

.ppBack i {
  color: var(--heading-color);
  font-size: var(--base-font-size);
}

/* ppBody */
.ppBody {
  background-color: var(--bg1-color);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 20px;
}

/* title */
.ppAccountCont h3 {
  color: var(--heading-color);
  font-size: var(--h2-font-size);
  margin-bottom: 20px;
}

/* content */
.ppInfoWrapper {
  display: flex;
  gap: 20px;
}

.ppUserInfoCont {
  flex: 1;
}

.ppEmployeeInfoCont {
  flex: 1;
}

/* item */
.ppItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
}

.ppItem label {
  color: var(--table-color);
  font-size: var(--default-font-size);
}

.ppItem label span {
  color: var(--red-color);
}

.ppItem input {
  border: none;
  background-color: var(--bg1-color);
  border: var(--border-very-light-gray);
  padding: 10px;
  border-radius: 8px;
}

/* button */
.ppButton { 
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: var(--bg-color);
  cursor: pointer;
}

.ppButton:hover {
  background-color: var(--primary-color-hover);
}

